<div id="<%= dom_id roomtype %>">
  <p>
    <strong>Name:</strong>
    <%= roomtype.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= roomtype.description %>
  </p>

  <p>
    <strong>Roomsize m2:</strong>
    <%= roomtype.roomsize_m2 %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= roomtype.price_per_night %>
  </p>

</div>
