<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= booking.date_of_birth %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= booking.phone_number %>
  </p>

  <p>
    <strong>Gmail:</strong>
    <%= booking.gmail %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= booking.check_in_date %>
  </p>

  <p>
    <strong>Number of nights:</strong>
    <%= booking.number_of_nights %>
  </p>

  <p>
    <strong>Num adults:</strong>
    <%= booking.num_adults %>
  </p>

  <p>
    <strong>Num children:</strong>
    <%= booking.num_children %>
  </p>

  <p>
    <strong>Roomtype:</strong>
    <%= booking.roomtype_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= booking.service %>
  </p>

</div>
