<%= form_with(model: booking) do |form| %>
<% if booking.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% booking.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date_of_birth, class: label_class %>
          <%= form.date_field :date_of_birth, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :phone_number, class: label_class %>
          <%= form.text_field :phone_number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :gmail, class: label_class %>
          <%= form.text_field :gmail, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :check_in_date, class: label_class %>
          <%= form.date_field :check_in_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :number_of_nights, class: label_class %>
          <%= form.number_field :number_of_nights, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :num_adults, class: label_class %>
          <%= form.number_field :num_adults, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :num_children, class: label_class %>
          <%= form.number_field :num_children, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :roomtype_id, class: label_class %>
        <%= form.select :roomtype_id, options_from_collection_for_select(
          Roomtype.all, 'id', 'name', selected = booking.roomtype_id), class: label_class %>
      </div>
  <div class="mb-6">
        <%= form.label :service, class: label_class %>
          <%= form.text_field :service, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if booking.persisted? %>
<%= link_to "Cancel", booking, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", bookings_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
