<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Booking</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to bookings_path, class: button_class(theme: "transparent") do %>
      All Bookings
      <% end %>
      <%= link_to edit_booking_path(@booking), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @booking.name %></p>
      </li>
      <li>
        <p class="font-semibold">Date of birth:</p>
        <p><%= @booking.date_of_birth %></p>
      </li>
      <li>
        <p class="font-semibold">Phone number:</p>
        <p><%= @booking.phone_number %></p>
      </li>
      <li>
        <p class="font-semibold">Gmail:</p>
        <p><%= @booking.gmail %></p>
      </li>
      <li>
        <p class="font-semibold">Check in date:</p>
        <p><%= @booking.check_in_date %></p>
      </li>
      <li>
        <p class="font-semibold">Number of nights:</p>
        <p><%= @booking.number_of_nights %></p>
      </li>
      <li>
        <p class="font-semibold">Num adults:</p>
        <p><%= @booking.num_adults %></p>
      </li>
      <li>
        <p class="font-semibold">Num children:</p>
        <p><%= @booking.num_children %></p>
      </li>
      <li>
        <p class="font-semibold">Roomtype:</p>
        <p><%= @booking.roomtype %></p>
      </li>
      <li>
        <p class="font-semibold">Service:</p>
        <p><%= @booking.service %></p>
      </li>
  </ul>
</div>
